{
    "env": {
        "production": {
            "plugins": [
                [
                    "styled-components",
                    {
                        "displayName": false,
                        "pure": true
                    }
                ],
            ]
        }
    },
    "presets": [
        ["next/babel", "@zeit/next-typescript/babel"]
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "preprocess": false
            }
        ],
        "styled-components-postcss"
    ]
}
